.panda-bg-color{
    background-color: #FEEAE9;
}
.panda-btn{
    background-color: #FF589B;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border:none;
}

/* eita na likhe jodi class="w-100 img-fluid" */
/* 
.bannar-image img{
    width: 402px;
    height: 378px;
}

@media only screen and (max-width:575px) {
    .bannar-image img{
        width: 350px;
        height: 350px;
    }
} */